.dayCard {
  padding: 1% !important;
  border-radius: 3%;
  margin: 1% 0%;
}

.selectForm {
  display: flex !important;
  border: none;
  border-bottom: #30a88e 1px solid;
  &:focus {
    outline: #fdfdfd;
  }
}

.mt-input{
  margin-top: 10%; 
}

@media (max-width:375px ){
  .mt-input{
    margin-top: 24%;
  }
}

@media (max-width:425px ) and (min-width: 375px){
  .mt-input{
    margin-top: 20%;
  }
}

@media (max-width:680px ) and (min-width: 426px){
  .mt-input{
    margin-top: 15%;
  }
}
@media (max-width: 768px) and (min-width:655px ){
  .mt-input{
    margin-top: 12%;
  }
}
@media (max-width:1024px ) and (min-width:768px ){
  .mt-input{
    margin-top: 10%;
  }
}

@media  (min-width:1024px ){
  .mt-input{
    margin-top: 8%;
  }
}